@import "mixins";
@import "variables";

.main-nav {
  .conteiner();

}

.main-nav__list {
  position: relative;

  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__list--closed li {
  display: none;
}

.main-nav__item {
  display: block;

  margin: 0 auto;
  box-sizing: border-box;
  padding: 8px 20px;

  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: @color-white;
  text-decoration: none;
  text-align: center;

  background-color: @color-blue;

  &[href]:hover {
    background-color: @color-btn-hover;
  }

  &[href]:active {
    background-color: @color-btn-down;
    color: @color-btn-text-down;
  }
}

.main-nav__close {
  display: block;

  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  right: 15px;
  top: 15px;

  font-size: 0;

  z-index: 2;

  &::before, &::after {
    position: absolute;
    top: 13px;
    right: 0;
    content: "";
    width: 30px;
    height: 4px;
    background-color: @color-white;
  }
}

.main-nav__close:hover {
  &::before, &::after {
    background-color: #e5e5e5;
  }
}

.main-nav__close:active {
  &::before, &::after {
    background-color: @color-white;
  }
}

.main-nav__close--closed {
  display: none;
}

.main-nav__close::before {
  transform: rotate(45deg);
}

.main-nav__close::after {
  transform: rotate(-45deg);
}

.main-nav__list li:not(:last-child) {
  border-bottom: 1px solid #678fa8;
}

.main-nav__list li:not(:first-child) {
  border-top: 1px solid #9ac2db;
}

.main-nav__list li:last-child .main-nav__item {
  box-shadow: inset  0 -5px 5px -5px #333;
}

.main-nav__toggle {
  position: relative;

  display: block;
  height: 56px;
  padding-right: 45px;

  font-size: 0;

  &::after {
    position: absolute;
    content: "";

    width: 30px;
    height: 4px;
    top: 18px;
    right: 20px;

    background-color: @color-blue;

    box-shadow: 0 8px 0 0 @color-blue,
    0 16px 0 0 @color-blue;

  }

}

.main-nav__toggle:hover::after {
    background-color: @color-btn-hover;
  box-shadow: 0 8px 0 0 @color-btn-hover,
  0 16px 0 0 @color-btn-hover;
}

.main-nav__toggle:active::after {
  background-color: @color-btn-down;
  box-shadow: 0 8px 0 0 @color-btn-down,
  0 16px 0 0 @color-btn-down;
}

@media @tablet-width {

  .main-nav__toggle,
  .main-nav__close {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__list li:first-child  {
    margin-right: auto;
  }

  .main-nav__list li:last-child  {
    margin-left: auto;
  }

  .main-nav__list li:nth-child(3)  {
    margin-left: auto;
  }

  .main-nav__list li:nth-child(2)  {
    margin-right: auto;
  }


  .main-nav__item {
    font-size: 14px;
    line-height: 26px;
    color: @color-black;



    background-color: @color-white;

    &[href]:hover {
      background-color: @color-white;
      color: @color-blue;
    }

    &[href]:active {
      background-color: @color-white;
      color: @color-menu-text-tablet-active;
    }
  }

  .main-nav__item--active {
    color: #9b8d84;

    &:hover {
    background-color: @color-white;
    color: #604e43;
  }

    &:active {
      background-color: @color-white;
      color: #d6d0cc;
    }

  }

  .main-nav__list li:last-child .main-nav__item {
    box-shadow: none;
  }

  .main-nav__list li:not(:last-child) {
    border-bottom: none;
  }

  .main-nav__list li:not(:first-child) {
    border-top: none;
  }

}

@media @desktop-width {
  .main-nav__list li:first-child .main-nav__item {
    padding-left: 90px;
  }

  .main-nav__list li:last-child .main-nav__item {
    padding-right: 90px;
  }
}

