@color-white: #ffffff;
@color-blue: #81b3d2;
@color-light-grey: #eeeeee;
@color-black: #000000;
@color-light-black: #333333;
@color-grey-line: #d6d6d6;
@color-grey-movie-controls: #f2f2f2;

@mobile-widths-only: ~"(max-width: 767px)";
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1200px)";